.blog-container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 0.7rem;
}
.header h4 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .header-span {
  color: var(--Red-Accent, #ff1013);
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: normal;
}
.header p {
  color: var(--grey-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 4% auto;
  align-items: center;
  justify-content: space-between;
}
/*blog card style*/
.blog-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  /*gap: 2%;*/
  border-radius: 12px;
  border: 1px solid var(--Grey, #92929d);
  text-align: left;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
  margin-top: 1%;
}
.blog-card-data-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}
.blog-card-data-img img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}
.blog-card-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.blog-card-data p {
  color: #92929d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog-card-data-l1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
.sep-line {
  height: 1px;
  background-color: #92929d;
  width: 80%;
  margin: 5% auto;
}
.social-data {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
}
.social-data-analytics {
  display: flex;
  flex-direction: row;
  width: 60%;
  font-weight: 500;
  gap: 3%;
}
.social-data-analytics span {
  font-weight: 24px;
  color: black;
}
.social-data-analytics p {
  color: #92929d;
}

.social-data-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  gap: 2%;
}
.social-data-links div {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
}
.social-data-links div a img {
  width: 100%;
}
@media (max-width: 900px) {
  .blog-card {
    width: 45%;
  }
  .blog-card-data-img {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-card-data-img img {
    width: 90%;
    height: 150px;
    margin: 1% auto;
  }
  .social-data-analytics {
    width: 40%;
  }
  .social-data-links {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .blog-card {
    width: 65%;
    margin: 1% auto;
  }
  .blog-card-data-img {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-card-data-img img {
    width: 90%;
    height: 150px;
    margin: 1% auto;
  }
  .social-data-analytics {
    width: 40%;
  }
  .social-data-links {
    width: 50%;
  }
  .blog-card-data {
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .blog-card {
    width: 80%;
    margin: 1% auto;
  }
  .blog-card-data-img {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-card-data-img img {
    width: 90%;
    height: 120px;
    margin: 1% auto;
  }
  .social-data-analytics {
    width: 80%;
  }
  .social-data-links {
    width: 80%;
  }
  .blog-card-data {
    gap: 10px;
  }
  .social-data {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .header h4,
  .header .header-span {
    font-size: 1.5rem;
  }
  .header{
    margin-bottom: 2%;
  }
}
.pagination{
  margin: 1% auto;
  display: flex;
  justify-content: center;
}