.main {
  color: #ff1013;
}
.bg {
  background-color: rgb(37, 37, 37);
  color: white;
}
.font {
  color: #d7dcde;
}
.envelope {
  background-color: rgb(217, 217, 217);
  border: 1px solid #000;
  position: relative;
  border-radius: 5px;
  height: 400px;
}
.w60 {
  width: 55%;
}
.w45 {
  width: 45%;
}

.diagonalLine {
  position: absolute;
  width: 117.1%;
  height: 2px; /* Adjust the thickness of the diagonal lines */
  background-color: #000;
  color: black;
  transform-origin: 0% 100%;
}

.diagonalLine2 {
  transform: rotate(-31.4deg);
  bottom: 0;
  left: 0;
}

.diagonalLine1 {
  transform: rotate(31.4deg);
  top: 0;
  left: 0;
}
.formControl {
  background-color: rgb(37, 37, 37) !important;
  border-radius: 5px;
  color: white !important;
}
.form-control::placeholder {
  color: #d7dcde !important;
}
@media screen and(max-width:) {
  .envelope {
    width: 300px;
  }
}
