.JOBS-hero {
    min-height: 90vh;
    background-image: url("../../assets/JOBS_hero_left.png"),
        url("../../assets/JOBS_hero_right.png");
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 260px 90%, 260px 90%;
}

.JOBS-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.JOBS-hero__title {
    font-size: 70px;
    font-weight: 500;
    color: var(--red-color);
    margin-bottom: 2rem;
}

.JOBS-hero__text {
    width: 50%;

    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #939393;
    margin-bottom: 4rem;
}

.JOBS-hero__btn {
    width: 26%;
    text-align: center;
}

.JOBS-why {
    background-color: #252525;
    padding-block: 2rem;
    text-align: center;
    color: #fcfcfc;
}

/* .JOBS-why__title, */
.__title {
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.JOBS-jobs__title--red {
    color: var(--red-color);
}


.JOBS-jobs__text {
    color: var(--grey-color);
    font-size: 18px;
    margin-bottom: 2rem;
}



.JOBS-jobs {
    padding-block: 4rem;
    text-align: center;
}

.JOBS-jobs__categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 90%;
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    margin-inline: auto;
}

.JOBS-jobs__category {
    background-color: transparent;
    color: var(--grey-color);
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
    font-weight: 500;
    flex-grow: 1;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.JOBS-jobs__category--active {
    background-color: var(--red-color);
    color: #fff;
}

/* .JOBS-jobs__list {
    overflow: hidden;
} */

.JOBS-jobs__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: start;
    animation: fromLeft 0.3s ease-in-out;
}

.JOBS-jobs__item:not(:last-child) {
    margin-bottom: 1.4rem;
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 1.4rem;
}

.JOBS-jobs__item__title {
    font-size: 24px;
    font-weight: 700;
}

.JOBS-jobs__item__keys {
    font-size: 14px;
    color: var(--grey-color);
}

.JOBS-jobs__item__btn {
    border-radius: 10px;
}

.JOBS-jobs__list--empty {
    font-size: 30px;
    font-weight: 700;
    color: var(--red-color);
    animation: fromLeft 0.3s ease-in-out;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 851px) {
    .JOBS-hero {
        background-image: none;
    }

    .JOBS-hero__text {
        width: 100%;
    }

    .JOBS-hero__btn {
        width: fit-content;
    }

    .JOBS-jobs__categories {
        width: 100%;
        gap: 4px;
        justify-content: flex-start;
        border: none;
        margin-bottom: 3rem;
    }

    .JOBS-jobs__category {
        padding: 4px 14px;
        border: 0.5px solid var(--grey-color);
        flex-grow: 0;
    }
}

@media (max-width: 576px) {
    .JOBS-hero__title {
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .JOBS-hero__text {
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .JOBS-why__title,
    .JOBS-jobs__title {
        font-size: 36px;
    }

    .JOBS-why__text,
    .JOBS-jobs__text,
    .JOBS-jobs__list--empty {
        font-size: 16px;
    }

    .JOBS-why__cards {
        justify-content: center;
    }

    .JOBS-jobs__item {
        flex-direction: column;
        text-align: center;
    }

    .JOBS-jobs__item__title {
        font-size: 20px;
    }

    .JOBS-jobs__item__btn {
        font-size: 14px;
    }
    .job-list-container {
        display: flex;
        
        margin-top: 20px; /* Add margin as needed */
      }
      .job-item-container {
        display: flex;
      
        width: 10%; /* Adjust this value according to your desired width */
        margin: 10px;
       }
}
.grey{
    color: var(--grey-color);
}
.categories li.active,.categories li:hover{
    transition: 0.3s;
    background-color: var(--red-color);
    color: var(--white-color);
}
.Employee .box .text{
    width: calc(100% - 2rem);
    bottom: -1.5rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
}
.Employee .box .text {
    width: fit-content;
}
.pagination li{
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
}
.pagination li.active{
    background-color: var(--red-color);
    color: var(--white-color);
}
