.footer {
    background-color: black;
}

.footer-container {
    padding-top: 50px !important;
    display: flex;
    gap: 70px;
    align-items: start;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    color: #fff;
    flex-grow: 1;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 15px;
}

.prim-info {
    display: flex;
    justify-content: space-between;
    gap: 140px;
    /* width: 100%; */
}

.footer-heading {
    color: var(--red-color);
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-link {
    color: #fff;
}

.footer-foot {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 851px) {
    .footer-container {
        display: flex;
        padding: 20px 40px 0 40px;
    }
}

@media (max-width: 1200px) {
    .prim-info {
        gap: 50px;
    }
}

@media (max-width: 1000px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 40px 0 40px;
        gap: 20px;
    }

    .prim-info {
        gap: 20px;
        width: 100%;
    }

    .prim-info,
    .footer-foot {
        flex-direction: column;
    }
}
