*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Poppins', sans-serif;
}
.rtl {
  direction: rtl;
}
.ltr
{
  direction: ltr;
}
.red-word {
  color: var(--red-color);
}
p {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  margin-bottom: 15px;
}
a {
  text-decoration: none;
}